<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Todo Application</title>
    <meta name="author" content="Pingendo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="todo.css" type="text/css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        i {
            color: #12bbad;
        }
        #check:hover {
            color: green;
            -webkit-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
        #delete:hover {
            color: red;
            -webkit-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
        #done:hover {
            color: green;
            -webkit-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark" >
    <div class="container">
        <a class="navbar-brand" href="#">TodoApp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../login">
                        <i style="color: #fff" class="fa d-inline fa-lg fa-user"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../register">
                        <i style="color: #fff" class="fa d-inline fa-lg fa-user-plus"></i> Register</a>
                </li>
            </ul>
            <a class="btn navbar-btn btn-primary ml-2 text-white" href="/logout"> <i  style="color: #fff" class="fa d-inline fa-lg fa-user-circle"></i> <span th:text="${userName}"></span></a>
        </div>
    </div>
</nav>
<div class="text-center h-50 py-5" style="background-image: url(todo.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--<h1 class="text-capitalize display-1">T/odo</h1>-->
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="#" th:action="@{/todo/{path}/add(path=${validationCode})}" method="GET">
                    <div class="form-group">
                        <label>Title</label>
                        <input style="width: 100%; margin-bottom: 20px" type="text" class="form-control" name="title" placeholder="Add your new task!">
                    </div>
                    <div class="form-group">
                        <label>Urgency</label>
                        <select style="width: 100%; margin-bottom: 20px" name="urgent">
                            <option value="true">Urgent</option>
                            <option default="" value="false">Not urgent</option>
                        </select>
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Urgent</th>
                        <th>Done</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="todos : ${todo}">
                        <td th:text="${todos.title}" />
                        <td th:switch="${todos.urgent}" >
                        <i th:case="true" class="fas fa-check"></i>
                        <i th:case="false" class="fas fa-times"></i>
                        </td>
                        <td th:switch="${todos.done}">
                        <i th:case="true" class="fas fa-check"></i>
                        <i th:case="false" class="fas fa-times"></i>
                        </td>
                        <td>
                            <a th:href="'/todo/complete?id='+ ${todos.getId()}" ><i id="check" class="fas fa-check"></i></a>
                            <a th:href="'/todo/delete?id='+ ${todos.getId()}" ><i id="delete" class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="progress my-4">
                    <div class="progress-bar progress-bar-striped" role="progressbar" th:style="'width:'+ ${percentage} +'%'" th:aria-valuenow="''+ ${percentage}+ ''" aria-valuemin="0" aria-valuemax="100" th:text="${percentage} + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
